/* Variables */
:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-white: #ffffff;
  --special-ylellow: #FFBF47;
  --success: #5FBB2D;
  --error: #BA2732;
  --basic-black: #000000;
  --special: #663d15;
  --focus-nav: #293449;
  --address: #32425C;
  --basic-blue: #3BBCE3;
  --basic-purple: #DC91D8;
  --green: #8ED78F;
  --ylellow: #FFC047;
  --special-gray: #F9F5F0;
  --old-price: #A9A9A9;
  --gold: #FFD180;
  --focus-button: #CA2C37;
  --focus-footer: #161D29;
  --click-nav: #1D2739;
  --click-catalog: #A9A9A9;
}

/* Global */
body {
  font-family: "Cuprum";
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 100%;
  min-width: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.wrapper {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  max-width: 190px;
}

/* header */
.background-nav {
  background-color: var(--address);
}

.background-footer-second {
  background-color: var(--focus-nav);
}

.nav-up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--focus-nav);
  max-height: 42px;
}

.main-logo {
  line-height: 0;
}

.search {
  position: relative;
  width: 271px;
  border: none;
  outline: none;
  background-color: var(--focus-nav);
}

.search:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.bookmarks {
  display: block;
  padding: 9px 24px 9px 43px;
  text-decoration: none;
  color: var(--basic-white);
}

.basket {
  display: block;
  padding: 9px 26px 9px 49px;
  text-decoration: none;
  color: var(--basic-white);
}

.bookmarks:active,
.basket:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--focus-footer);
}

.ordering {
  display: block;
  padding: 9px 16px 9px 19px;
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.ordering:hover,
.ordering:focus {
  background-color: var(--success);
}

.header-container {
  padding-bottom: 60px;
}

.nav-down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 38px;
}

.title-header {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  padding-left: 30px;
  margin: 0;
}

.address-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.telephone {
  display: block;
  padding: 7px 45px 8px 74px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  border: 3px solid #FFFFFF;
  color: var(--basic-red);
}

.address {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--address);
  margin: 0;
  padding: 0;
}

.address-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-bottom: 8px;
}

.login {
  display: block;
  padding: 12px 27px 12px 45px;
  background-color: var(--basic-white);
  margin-right: 10px;
}

.login:hover,
.login:focus,
.register:hover,
.register:focus {
  color: var(--basic-red);
}

.login:active,
.register:active {
  color: var(--basic-greylight);
}

.register {
  display: block;
  padding: 12px 24px;
  background-color: var(--basic-white);
}

.user-navigation a {
  color: var(--basic-black);
}

.main-navigation {
  background-color: var(--basic-grey);
  list-style: none;
  color: var(--basic-white);
}

.navigation {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.nav-button {
  display: block;
  padding: 16px 24px 20px 27px;
  color: var(--basic-white);
}

.nav-button:hover,
.nav-button:focus {
  background-color: var(--focus-nav);
}

.nav-button:active {
  opacity: 0.5;
  background-color: var(--click-nav);
}

/*main*/
.main-container {
  padding-top: 59px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  grid-gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 59px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 23px;
}

.catalog-item h2 {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.material {
  background-color: var(--special-ylellow);
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: center right 32px;
}

.tools {
  background-color: var(--basic-blue);
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: center right 32px;
}

.tech {
  background-color: var(--basic-purple);
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: center right 32px;
}

.sales {
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: var(--green);
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: center right 32px;
}

.deliver {
  grid-column: 3/4;
  grid-row: 3/4;
  background-color: var(--ylellow);
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: center right 32px;
}

.catalog-slide {
  grid-column: 1/3;
  grid-row: 2/4;
  background-image: url("../img/true-man.jpg");
}

.catalog-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 135px;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0 10px 0;
  background: rgba(255, 255, 255, 0.3);
  color: var(--basic-white);
}

.catalog-button:hover,
.catalog-button:focus {
  background-color: var(--basic-greylight);
}

.catalog-button:active {
  background-color: var(--click-catalog);
  opacity: 0.3;
}

.slide-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.color-staff {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.title-slide {
  padding-bottom: 17px;
  padding-left: 24px;
  background: rgba(0, 0, 0, 0.25);
}

.slider-catalog-button {
  margin-bottom: 27px;
  margin-left: 24px;
}

.slider-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slide-button-back {
  margin-left: 24px;
}

.slide-button-next {
  margin-right: 27px;
}

.popular-staff {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--special-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 28px;
  padding-right: 38px;
  margin-bottom: 20px;
}

.title-popular {
  font-family: "Cuprum";
  margin-bottom: 4px;
  background: 0 0;
  font-size: 36px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
}

.drill-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  text-align: center;
}

.drill-size {
  min-height: 180px;
}

.old-price {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--old-price);
  padding-bottom: 13px;
}

.drill-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
  padding-top: 20px;
}

.buy-button {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  display: block;
  padding: 10px 44px 10px 32px;
}

.firms-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}

.popular-firms,
.popular-product {
  background-color: var(--basic-white);
}

.about-item {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.button-toogle {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--address);
}

.button-toogle:hover,
.button-toogle:focus {
  background-color: var(--focus-nav);
}

.button-toogle:active {
  background-color: var(--basic-white);
  color: var(--address);
}

.title-deliv {
  padding-left: 80px;
}

.service-title {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  font-size: 30px;
  line-height: 30px;
  color: var(--address);
  text-transform: uppercase;
}

.drill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-about {
  padding-top: 64px;
  padding-bottom: 99px;
  background: url("../img/Layer131-1.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.about-item-service {
  padding-bottom: 70px;
}

.section-down {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-position: right;
}

.button-toogle {
  display: block;
  padding: 13.5px 0 17.5px 22px;
  min-width: 240px;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.button-list {
  padding: 0;
  margin: 0;
}

.section-about-second {
  display: flex;
  padding-top: 60px;
  padding-bottom: 70px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.service-tips {
  padding: 0;
  padding-left: 20px;
  padding-bottom: 20px;
  margin: 0;
}

/*Footer*/
.background-footer {
  background-color: var(--address);
}

.section-footer-second {
  background-color: var(--focus-nav);
}

.copiright a,
.feedback a, {
  font-size: 16px;
  line-height: 18px;
}

.adress-mail {
  color: var(--gold);
}

.footer-container-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 54px;
}

.address-footer {
  color: var(--basic-white);
}

.nav-footer-list {
  display: flex;
  flex-direction: column;
}

.navigation-footer-first {
  margin-top: 30px;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-footer-first a {
  color: var(--basic-background);
}

.navigation-footer-second {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copiright {
  color: var(--basic-white);
}

.navigation-footer-second a {
  color: var(--gold);
}

.nav-button-footer {
  padding-left: 58px;
}

.nav-button-footer:hover,
.nav-button-footer:focus {
  text-decoration-line: underline;
}

.nav-button-footer:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-container-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.socials {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.icon-social {
  padding-left: 27px;
}

.feedback {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mail {
  padding-right: 50px;
}

.lead {
  color: var(--basic-white);
  margin: 0;
}

/*modal*/
.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--focus-button);
}

.button-title {
  min-width: 190px;
}

.filter-button {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  text-transform: uppercase;
  padding-right: 70px;
}

.filter-button a {
  color: var(--old-price);
}

.pagination-button {
  display: block;
  margin-left: 10px;
  padding: 10px 15px 10px 15px;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  border: 1px solid #E5E5E5;
}

.pagination-none {
  margin-left: 0;
}

.filter-button:hover a,
.filter-button:focus a,
.filter-button:active a {
  color: var(--basic-red);
}

.filter-show {
  margin-top: 30px;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-white);
  border: 1px solid #E5E5E5;
}

.feedback {
  list-style: none;
}

/*Catalog main*/
.main-catalog {
  background-color: var(--basic-white);
}

.form {
  border: none;
  text-align: left;
}

.catalog-list-second {
  display: flex;
  flex-direction: row;
  padding-top: 21px;
}

.catalog-title {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  text-transform: uppercase;
  padding-left: 40px;
}

.catalog-title a {
  color: var(--basic-black);
}

.basic-background {
  background-color: var(--basic-background);
}

.sorting {
  background-color: var(--special-gray);
}

.drill-title-sotring {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--special-gray);
  padding: 10px 0 10px 20px;
}

.filter-title {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  text-transform: uppercase;
  padding: 10px 0 10px 18px;
  margin: 0;
  background-color: var(--special-gray);
}

.filter-heading {
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 12px;
}

.filter-price {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 18px;
  background-color: var(--special-gray);
}

.filter-container {
  display: flex;
  flex-direction: column;
}

.input-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.input-class {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 95px;
  text-align: center;
  border: none;
  outline: none;
  background-color: var(--special-gray);
}

.firms-check-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-item {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.pagination {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
}

.catalog-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sorting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filter-buttons-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.drill-container {
  padding-left: 20px;
}

.drill-list-catalog {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  padding-top: 28px;
}

.title-catalog {
  padding-top: 64px;
}
